env:
  browser: true
  node: true

rules:
  quotes: [2, "single"]
  eqeqeq: 1
  no-use-before-define: [1, "nofunc"]
  new-cap: 1
  no-caller: 1
  dot-notation: 1
  no-undef: 1
  no-unused-vars: 1
  no-eq-null: 1
  no-loop-func: 0
