#footer.ui.inverted.vertical.footer.segment
  .ui.divided.inverted.stackable.centered.grid.container
    .three.wide.column
      h4.ui.inverted.header Places
      .ui.inverted.link.list
        a(href="design.html").item Design
        a(href="code.html").item Code
        a(href="games.html").item Games
    .three.wide.column
      h4.ui.inverted.header Games
      .ui.inverted.link.list
        a(href="dota.html").item Dota 2
        a(href="tf2.html").item TF2
    .ten.wide.right.aligned.column
          p Designer. Programmer. Gamer. <b> Skipped </b>
            img.logo(src="img/icon.svg")
