div.ui.inverted.vertical.footer.segment
  div.ui.divided.inverted.centered.grid.container
    div.three.wide.column
      h4.ui.inverted.header Places
      div.ui.inverted.link.list
        a(href="design.html").item Design
        a(href="code.html").item Code
        a(href="games.html").item Games
    div.three.wide.column
      h4.ui.inverted.header Games
      div.ui.inverted.link.list
        a(href="dota.html").item Dota 2
        a(href="tf2.html").item TF2
    div.ten.wide.right.aligned.column
          p Artist. Programmer. Gamer. <b> Skipped </b>
            img.logo(src="img/icon.svg")
