div.ui.inverted.vertical.footer.segment(style="padding-bottom: 70px; padding-top: 70px;")
  div.ui.divided.inverted.centered.grid.container
    div.three.wide.column
      h4.ui.inverted.header Places
      div.ui.inverted.link.list
        a(href="design.html").item Design
        a(href="code.html").item Code
        a(href="games.html").item Games
    div.three.wide.column
      h4.ui.inverted.header Games
      div.ui.inverted.link.list
        a(href="dota.html").item Dota 2
        a(href="tf2.html").item TF2
    div.ten.wide.right.aligned.column(style="position: relative;")
          p(style="position:absolute; bottom:0; right:0;") Artist. Programmer. Gamer. <b style="font-size: 35px;"> Skipped </b>
            img(src="img/redicon.svg", width=26, height=26)
