@skip-red: #bd3b3b;
@skip-blue: #395c78;
@skip-yellow: #ef9849;
@skip-green: #39783f;

.footer.segment {
  padding: 5em;
  .icon {
    background-color: @skip-red;
    width: 26px;
    height: 26px;
  }
  .right.aligned.column {
    position: relative;

     p {
      position: absolute;
      bottom: 0;
      right: 0;

      b {
          font-size: 35px;
      }
    }
  }
}

.title.bar {
    padding: 1em 0em;
    .logo {
      background-color: @skip-red;
    }
}

.container {
  .dropdown {
    display: inline;
  }
}
