doctype html
html
  head
    title= "Skipped"
    link(rel="stylesheet", href="css/semantic.min.css")
    link(rel="stylesheet", href="css/style.css")
    include includes/favicon.jade
  body
    block content
    include includes/footer.jade
