extends ./layout.jade

block content
  #primary.ui.inverted.centered.vertical.segment.header
    #title-box.container
      h1#title.ui.inverted Skipped
      p.subheader Designer | Programmer | Gamer
  .img-para(data-img="img/design.png")
  .panel.ui.centered.vertical.segment
