extends ./layout.jade

block content
  #primary.panel.ui.inverted.centered.vertical.segment.header
    .container
      h1.ui.inverted Skipped
      p.subheader Designer | Programmer | Gamer
  .img-para(data-img="img/design.png")
  .panel.ui.centered.vertical.segment
