extends ./layout.jade

block content
  #primary.ui.inverted.centered.vertical.segment.header
    #title-box.container
      h1#title.ui.inverted Skipped
      h2 Designer | Programmer | Gamer
    #anchor-point
  .img-para(data-img="img/design.png")
  .panel.ui.centered.vertical.segment
    .ui.container
      .middle.aligned.column
        #panel-title.row
          p
            span.header <b>Vector Graphics</b>
            span.subtext.right.floated <i> with a side of Photoshop</i>
  .panel.centered.light.stripe.vertical.segment
    .ui.container
      .middle.aligned.column
        #panel-title.ui.centered.row
          #code-title.p
            span.header <b>JAVA, JADE, LESS</b>
            span.subtext.right.floated <i> AND MORE</i>
