doctype html
html
  head
    block title
      title= "Skipped"
    block style
      link(rel='stylesheet', href='css/semantic.min.css')
      link(rel='stylesheet', href='css/style.css')
    include includes/favicon.jade
  body
    include includes/header.jade
    block content
    include includes/footer.jade
    script(src='js/jquery.js')
    script(src='js/jquery.color.js')
    script(src='js/semantic.min.js')
    script(src='js/main.min.js')
