<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }} 
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    {%- seo title=false -%}
    <style>
      body {
        background: #181818;
        color: #d8d8d8;
        font-family: sans-serif;
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
        line-height: 1.75;
      }

      article {
        padding-bottom: 1rem;
      }

      a {
        color: #7cafc2;
      }

      header a {
        color: inherit;
      }

      header a.active {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
