---
layout: default
---
<style>
header {
  display: flex;
  place-content: space-between;
  align-items: center;
}

nav li {
  display: inline;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (orientation: landscape) {
  h1 a.portrait {
    display: none;
  }
}

@media (orientation: portrait) {
  h1 a.landscape {
    display: none;
  }
}
</style>

<header>
  <h1>
    <a href="/" class="active landscape">{{ site.title }}</a>
    <a href="/" class="active portrait">{{ site.short_title }}</a>
  </h1>

  <nav>
    <ul>
      <li>
        <a href="/blog">blog</a>
      </li>
      <li>
        <a href="/talks">talks</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  {{ content }}
</main>
